/* PC */
@media (min-width: 1024px){   
    .mobile-menu-btn{
        display: none;
    }
}


/* tablet */
@media (min-width: 740px) and (max-width:1024px){
    
    .mobile-menu-btn{
        display: none;
    }
    
}



@media (max-width: 739px){
    .s-full-width,
    .s-col-full{
        width: 100%;
    }
    

    .s-mt-8{
        margin-top: 8px !important;
    }

    #nav {
        display:block;
    }

    #nav > li {
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
        
    }
    #nav .subnav  a{
        color: #fff;
        padding: 5px 30px;
    }
    #header{
        overflow: hidden;
    }
    #header .mobile-menu-btn {
        display:block;
    }
    #header .search-btn{
        display: none;
    }
    /* member item */
    .contact-form{
        margin-top: 32px;
    }

    #content .member-img{
        width: 60%;
    }

    
}
    /* tablet and mobile */
@media (max-width: 1023px){
        .btn{
            padding: 15px 16px;
        }
        .contact-form .form-control{
            padding: 15px;
        }
        .contact-info{
            line-height: 2;
        }
        
        #footer .socials-list {
            font-size: 36px;
        }

        #footer .socials-list a{
            margin: 0 8px;
        }
        #footer .copyright{
            padding: 12px 0;
            display: inline-block;
            font-size: 20;
        }
        #nav .subnav{
            padding: 5px 12px;
        }
    }